header {
    text-align: center;
    font-size: 20pt;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-rows: 40vh 80vh 80vh 40vh;
    grid-template-columns: 100px 1fr 1fr 100px;
    row-gap: 10px;
}

/* section {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-end: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
} */

.hela {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: hotpink;
}

div {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.orange {
    background-color: lightsalmon;
}

.blue {
    background-color: lightskyblue;
}

.green {
    background-color: greenyellow;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-rows: 100px 200px 200px 100px;
        grid-template-columns: 100px 1fr 1fr 100px;
    }

    .one {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .two {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .three {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .four {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .five {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .six {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .seven {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .eight {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    /* section {
        display: grid;
        row-gap: 10px;
    }

    .first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .second {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .third {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .fourth {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
    } */
}
